/* home screen */
#home-screen {
    text-align: center;
    background: #8d268b;
}
#home-screen img {
    max-width: 100%;
    max-height: 530px;
    display: inline-block;
}
#home-screen .menu {
    height: 100px;
    background: black;
    padding: 25px;
}
#home-screen .menu a {
    margin-right: 40px;
}

.btn-pink {
    color: white;
    background: #ec008c;
    transition: all 0.3s ease 0s;
}
a.btn-pink:hover {
    color: white;
    opacity: 0.75;
}

/*TIC TAC TOE GAMEPLAY*/
.large-board{
  width:450px;
  height:450px;
  padding: 0;
}

.large-board div{
  position:relative;
}

.small-board{
  width:150px;
  height:150px;
  float:left;
  background: rgba(0, 0, 0, 0.1);
}

.small-board.active {
    background: white;
}

.slot{
  width:50px;
  height:50px;
  float:left;
  outline:solid 1px;
}

.slot.x{
  background-color:darkgreen;
  /*background image SVG*/
}

.slot.o{
  background-color:orange;
  /*background image SVG*/
}


/*temporary stuff starts here*/

.slot.x:after{
  content:'X';
  color:teal;
}

.slot.o:after{
  content:'O';
  color:yellow;
}

.slot:after{
  position:absolute;
  color:white;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  font-size:30pt;
  font-family:helvetica;
}
