/* home screen */
#home-screen {
    text-align: center;
    background: #8d268b;
}

#home-screen img {
    max-width: 100%;
    max-height: 650px;
    display: inline-block;
}

#home-screen .menu {
    height: 100px;
    background: black;
    padding: 25px;
}

#home-screen .menu a {
    margin-right: 40px;
}

.btn-pink {
    color: white;
    background: #ec008c;
    transition: all 0.3s ease 0s;
}

a.btn-pink:hover {
    color: white;
    opacity: 0.75;
}

/*TIC TAC TOE GAMEPLAY*/
.gameplay {
    background: rgba(238, 238, 238, 1);
}
.stats {
    background: #8d268b;
    height: 750px;
}

.large-board {
    width: 690px;
    height: 690px;
    padding: 30px;
    margin: 30px auto;
    background: white;
}

.large-board div {
    position: relative;
}

.small-board {
    width: 210px;
    height: 210px;
    float: left;
    background: rgba(0, 0, 0, 0.5);
}

.small-board.active {
    background: white;
}

.slot {
    width: 70px;
    height: 70px;
    float: left;
    outline: solid 1px;
}

.slot.x {
    background-color: darkgreen;
    /*background image SVG*/
}

.slot.o {
    background-color: orange;
    /*background image SVG*/
}

/*temporary stuff starts here*/

.slot.x:after {
    content: 'X';
    color: teal;
}

.slot.o:after {
    content: 'O';
    color: yellow;
}

.slot:after {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    font-size: 50pt;
    font-family: helvetica;
}
