/*base*/

.gameplay{
    width:1920px;
    height:1080px;
}

/* home screen */
#home-screen {
    text-align: center;
    background-color: #8d268b;
}

#home-screen img {
    max-width: 100%;
    max-height: 650px;
    display: inline-block;
}

#home-screen .menu {
    height: 100px;
    background-color: black;
    padding: 25px;
}

#home-screen .menu a {
    margin-right: 40px;
}

.btn-pink {
    color: white;
    background-color: #ec008c;
    transition: all 0.3s ease 0s;
}

a.btn-pink:hover {
    color: white;
    opacity: 0.75;
}

/*TIC TAC TOE GAMEPLAY*/
.gameplay {
    background-color: rgba(238, 238, 238, 1);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
}
.gameplay .games {

}
.gameplay .stats {

}
.stats {
    background-color: #8d268b;
    height: 750px;
}

.ultimate-board {
    width: 1000px;
    height: 1000px;
    border: solid 30px white;
    margin: 40px auto;
}

.ultimate-board div {
    position: relative;
}

.small-board {
    width: 313.333px;
    height: 313.333px;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    -webkit-transition: all 0.5s linear;
}
.small-board.available {
    background-color: white;
}

.small-board-1 {
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.small-board-2 {
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.small-board-3 {
    border-bottom: 3px solid;
}
.small-board-4 {
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.small-board-5 {
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.small-board-6 {
    border-bottom: 3px solid;
}
.small-board-7 {
    border-right: 3px solid;
}
.small-board-8 {
    border-right: 3px solid;
}

.slot {
    width: 98.666px;
    height: 98.666px;
    float: left;
}

.slot.row-1.column-1 {
    border-right: solid 1px;
    border-bottom: solid 1px;
}
.slot.row-1.column-2 {
    border-right: solid 1px;
    border-bottom: solid 1px;
}
.slot.row-1.column-3 {
    border-bottom: solid 1px;
}

.slot.row-2.column-1 {
    border-right: solid 1px;
    border-bottom: solid 1px;
}
.slot.row-2.column-2 {
    border-right: solid 1px;
    border-bottom: solid 1px;
}
.slot.row-2.column-3 {
    border-bottom: solid 1px;
}

.slot.row-3.column-1 {
    border-right: solid 1px;
}
.slot.row-3.column-2 {
    border-right: solid 1px;
}

/*temporary stuff starts here*/

.slot.x:after {
    content: 'X';
    color: #00843e;
}

.slot.o:after {
    content: 'O';
    color: #f66007;
}

.slot:after {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    font-size: 50pt;
    font-family: helvetica;
}

/*Game Stats*/
.stats {
    vertical-align: middle;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.players .player {
    margin: 40px auto;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.player.inactive {
    opacity: 0.2;
}
.players .divider {
    font-size: 20px;
    color: white;
}
.avatar {
    width: 150px;
    height: 150px;
    background: white;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    margin: auto auto 10px;
    overflow: hidden;
}
.avatar img {
    width: 150px;
}

/* WON STUFF */
.small-board.playerOne {
    background: white url('../images/big-x.png') no-repeat;
    background-size: contain;
}
.small-board.playerOne div {
    opacity: 0;
}
.small-board.playerTwo {
    background: white url('../images/big-o.png') no-repeat;
    background-size: contain;
}
.small-board.playerTwo div {
    opacity: 0;
}