<div id="home-screen" class="">
  <div class="main-gallery js-flickity">
    <img xlink="../static/images/v2-intro-slideshow-logo.svg" src="../static/images/v2-intro-slideshow-logo.png" alt="Built by Caktus Group" width=100% height=auto />
    <img xlink="../static/images/v2-intro-slideshow-instructions.svg" src="../static/images/v2-intro-slideshow-instructions.png" alt="Instructions for playing ultimate tic tac toe" width=100% height=auto />
    <img xlink="../static/images/v2-intro-slideshow-credits.svg" src="../static/images/v2-intro-slideshow-credits.png" alt="Using Django, Angular JS AI built w/ Monte Carlo Tree Search" width=100% height=auto />
  </div>
  <div class="row menu">
    <div>
      <a data-ng-href="#new/local" class="btn btn-drkGreen">Player vs. Player</a>
    </div>
    <div>
      <a data-ng-href="#new/ai" class="btn btn-drkGreen">Player vs. A.I.</a>
    </div>
    <div>
      <a data-ng-href="#new/ai-vs-ai" class="btn btn-drkGreen">A.I. vs. A.I.</a>
    </div>
  </div>
  <div class="row footer">
    <p>Built by</p>
    <img xlink="../static/images/caktus-group-logo.svg" src="../static/images/caktus-group-logo.png" alt="Brought to you by Caktus Group. We grow sharp web apps" width=104px height=auto/>
    <p class="we-grow">We Grow Sharp Web Apps</p>
  </div>
</div>
