<div id="home-screen" class="">
  <div class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true, "contain": true }'>
    <svg width="100%" height="600px">
      <image xlink:href="img/V2/intro-slideshow-logo.svg"></image>
    </svg>
    <svg width="100%" height="600px">
      <image xlink:href="img/V2/intro-slideshow-instructions.svg"></image>
    </svg>
    <svg width="100%" height="600px">
      <image xlink:href="img/V2/intro-slideshow-credits.svg"></image>
    </svg>
  </div>
  <div class="row menu">
      <a data-ng-href="#new/local" class="btn btn-drkGreen">Play Against a Human (Locally)</a>
      <a data-ng-href="#new/ai" class="btn btn-drkGreen">Play Against a Computer (Locally)</a>
  </div>
</div>
