<div class="players text-center">
    <div data-ng-class="{player: true, inactive: ((game.currentPlayer == 2 && player == 1) || (game.currentPlayer == 1 && player == 2))}">
        <div class="avatar">
            <!-- <img src="/static/images/v2-right-col-o.svg" data-ng-show="player==1"/> -->
            <img src="/static/images/v2-right-col-x.svg" />
        </div>
    </div>
    <div data-ng-class="{player: true, inactive: ((game.currentPlayer == 2 && player == 2) || (game.currentPlayer == 1 && player == 1))}">
        <div class="avatar">
            <img src="/static/images/v2-right-col-o.svg" />
            <!-- <img src="/static/images/v2-right-col-x.svg" data-ng-show="player==1"/> -->
        </div>
        <div class="cyber-caktus">
          <img src="/static/images/cyber-caktus.svg" />
        </div>
    </div>
</div>
