<div class="row gameplay">
    <div class="col-md-9 boards">
        <ultimate-board></ultimate-board>
        <winner-modal></winner-modal>
    </div>
    <div class="col-md-3 stats">
      <game-stats></game-stats>
      <div class=forfeit-ctn>
          <a class="btn forfeit btn-drkGreen" data-ng-href="#/">New Game</a>
          <div class="made-by text-center">
            <p>Brought to you by</p>
            <img xlink="../static/images/caktus-group-logo.svg" src="../static/images/caktus-group-logo.png" alt="Brought to you by Caktus Group. We grow sharp web apps" width=140px height=auto/>
          </div>
      </div>
    </div>
</div>
