<div data-ng-class="{'modal-overlay': true, hide: !game.winner}">
    <div class="modal-window">
        <p class="congrats">Congratulations</p>
        <h2 data-ng-show="game.winner == 1"><img src="/static/images/v2-right-col-x.svg" /></h2>
        <h2 data-ng-show="game.winner == 2"><img src="/static/images/v2-right-col-o.svg" /></h2>
        <p>Talk to our team about more ways to win and the open source repo!</p>
        <div class="made-by text-center">
          <a data-ng-click="reset()" class="btn btn-drkGreen">Start Over</a>
          <p>Built by</p>
          <img xlink="../static/images/caktus-group-logo.svg" src="../static/images/caktus-group-logo.png" alt="Brought to you by Caktus Group. We grow sharp web apps" width=190px height=auto/>
        </div>
    </div>
</div>
